<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.label :remember_me, class: 'checkbox' do %>
      <%= f.check_box :remember_me, checked: true %> Remember me
    <% end %></div>
  <% end -%>

  <div class="space-one"></div>

  <div><%= f.submit "Login", class: 'btn btn-primary' %></div>
<% end %>

<%= render "users/shared/links" %>
