<html>
  <body>

  <p>Hey there!</p>

  <p>Good news from Tweetbox! <%= @invitation.issuer_name %> invites you to join him at a Tweetbox account. Together and all your colleages you'll be able to give your customers all the love you want to give and answer their support tweets almost before they have been sent :-D.</p>

  <%= link_to 'Join Tweetbox', registration_url %>

  <p>By clicking the link above, you'll be able to register and join <%= @invitation.issuer_name %> in your freshly created Tweetbox account.</p>

  <p>If clicking the link does not work, you can also copy and paste this URL to your browser to get started: <%= registration_url %>.</p>

  <p>Your invitation is active until <%= @invitation.active_until %></p>

  <p>Have a great time, and give your customers a big hug from us, too.</p>

  The team behind Tweetbox
  </body>
</html>
